
header {
    width: 100%;
    height: auto;
    margin: auto;
   
    padding: 20px 0;
    background: lightgoldenrodyellow;
}



header .headerSearch {
    width: 600px;
    height: 50px;
    border: 1px solid black;
    padding: 25px 20px;
    margin-top: 110px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
   
}



header .headerSearch .selecDropWrapper {
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    
}

header .headerSearch .selecDropWrapper:after {
    content: '';
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    right: 0;
}

header .headerSearch .search {
    width: calc(100% - 30px);
    position: relative;
}

header .headerSearch .search input {
    width: 90%;
    height: 100%;
    border: 0;
    outline: none !important;
    font-size: 18px;
}

header .headerSearch .search .searchIcon {
    position: absolute;
    
    transform: translateY(-50%);
    opacity: 0.5;
    font-size: 24px !important;
    background-color: lightgoldenrodyellow;
    
}


Select{color:#279a65 !important ;}


.headerTabs {
    padding-left: 10px;
    margin-top: 55px;
    width:100% ;
}

.headerTabs li {
    position: relative;
    width:100% ;
    border: 1px solid #ccc;
    margin-left: 10px;
    padding: 5px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.headerTabs li span {
    font-size: 20px;
    
    cursor: pointer;
    text-decoration: none;
}

.headerTabs li span:hover {
    text-decoration: none;
}

.headerTabs li span * {
    color: #000;
}

.headerTabs li span img {
    margin-right: 0px;
}

.headerTabs li span.badge {
    width: 28px;
    height: 28px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    top: -16px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
}




.dropdownMenu{position: absolute; top: 40px; right: 0px; width: 200px; height: auto; background: #fff;  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); padding: 10px 0px; z-index: 100;}
.dropdownMenu li{width: 100% !important; list-style: none; margin: 0px !important;}
.dropdownMenu li button{width: 100% !important; text-align: left !important; justify-content: flex-start !important; color: rgba(0,0,0,0.7) !important; text-transform: capitalize !important; font-size: 18px !important; padding: 12px 15px !important;}

.dropdownMenu li button svg{opacity: 0.7; margin-right: 8px !important;}
.dropdownMenu li button:hover{background: #f1f1f1 !important;}