.bannerSection .box img {
    width: calc(30vw); /* Adjust the percentage as needed */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire container */
    transition: transform 0.3s ease; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
    .bannerSection .box img {
        width: calc(20vw); /* Adjust the percentage as needed */
    }
}
